.p1{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
border-radius: 1%;
background-color: azure;
padding-top: 1%;
left: auto;
}

.dropdown{
    max-height: 70pt;
}